<!DOCTYPE html>
<html>
	<head>
		<title>Bloginator 37 000 000 000</title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body>
		<a class="h1" href="/"><h1>Bloginator 37 000 000 000</h1></a>
		<ul class="nav">
			{% if user %}
				<li class="nav"><a class="nav" href="logout">Logout</a></li>
				<li class="nav2">&nbsp;&nbsp;Signed in as {{user}}</li>
			{% else %}
				<li class="nav"><a class="nav" href="create_account">Register</a></li>
				<li class="nav"><a class="nav" href="login">Login</a></li>
				<li class="nav2">&nbsp;&nbsp;Not signed in</li>
			{% endif %}
		</ul>
		<h2>Add new post:</h2>
		<form method="POST" id="newpost">
			<textarea form="newpost" name="posttext" rows=5 cols=100 placeholder="Enter new post &hellip; if you dare!"></textarea>
			<br>
			<button type="submit" name="updatepost" value="createpost">Bloginate!</button>
		</form>
		<hr>
		{% for post in posts %}
			<a class="username" href="">{% print post[3] %}</a>
			<p>
			        {% print post[1] %}
			</p>
			<p>
				{% print post[2] %}
			</p>
			<form method="POST">
				<button type="submit" name="updatepost" value={{ post[0] }}>Edit post</button>
				<button type="submit" name="updatepost" value={{ -post[0] }}>Delete post</button>
				<button type="submit" name="updatepost" value={{ "cc"+post[0]|string }}>Write a comment</button>
			</form>
			{% if post|length > 4 %}
			   {% for i in range(4,post|length) %}
			         {% print post[i][2] %}:
			         {% print post[i][1] %}
			         <br>
			   {% endfor %}
			{% endif %}	

			<hr>
		{% endfor %}
	</body>
</html>
